   <style>
      html,body,span,h1 {
          font-family: "Times New Roman", Times, serif;
          font-size: 17px;
      }
      bibtex { display: none; }
      .searchbar { margin-left:0px;}
      #bibtex_errors { margin-top:10px; color: red;}
      h1.header {margin-left:8px;}
      h1.BIBTEXTYPE { font-size: 17px; font-weight: bold;
         margin-left:8px;
         display: block;width : 98%;
         background-color : black;
         color : white;
      }
      h1.YEAR { font-size: 17px; font-weight: bold; display: inline;
        margin-left:8px;
      }
    </style>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
